.message {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 500px;
  padding: 10px;

}

.bubble {
  position: relative;
  width: 300px;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  /*background: #4d5156;*/
  background: rgba(77, 81, 86, 0.8);
  color: #bbfbbc;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

.bubble:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  display: block;
  width: 30px;
  height: 30px;
  background: radial-gradient(60px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.text__name {
  font-size: 20px;
  color: #d294d4;
  margin: 0;
  margin-bottom: 5px;
}

.text__message {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;

}

.text {
  max-width: 300px;
}

.text__time {
  font-size: 18px;
  color: #aed1ae;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}