.superInput {
  display: block;
  padding-left: 10px;
  background: #FFF;
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 1px solid #838996;
  margin: 5px;
}

.errorInput {
  display: block;
  padding: 0 10px;
  background: #FFF;
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 1px solid red;
  margin: 5px;
}

.error {
  color: red;
  margin-left: 5px;
}