.superInput {
  display: block;
  margin: 10px;
  padding: 0 10px;
  background: #FFF;
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 1px solid #838996
}

.errorInput {
  display: block;
  margin: 10px;
  padding: 0 10px;
  background: #FFF;
  line-height: 30px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 1px solid red
}

.error {
  color: red;
}