.default {
  background: #F5B9D2;

}

.red {
  background: #C90C22 !important;
}

.button {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #F1A1B1;
  color: #FFFFFF;
  margin: 5px;
  font-size: 20px;
}

button:disabled {
  background: #B7BEC9;
  color: #4D5058 !important;
}